@using Microsoft.Ajax.Utilities
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    @{
        // This is bad to do, but here for demo purposes:

        string userName = null;
        if (User.Identity.IsAuthenticated)
        {
            userName = User.Identity.GetUserName();
        }
        
    }

    @if (userName != null)
    {
        <h1>@Html.Encode("Hello " + User.Identity.GetUserName() + "!")</h1>
    }
    else
    {
        <h1>This is the application that you login with.</h1>
    }
    <p class="lead">
        Click on the login link. Password is ignored and it will accept any login (i.e. asdf@asdf.com). Once you
        login it will redirect you to a second site that consumes the Authentication Ticket.
        <br/>
        <br/>
        This app: http://localhost:44297<br/>
        The other app that shares the ticket: http://localhost:44504
    </p>
</div>
